
@font-face {
  font-family: 'DejaVuSans';
  src: url('DejaVuSans.eot?#iefix') format('embedded-opentype'),  url('DejaVuSans.woff') format('woff'), url('DejaVuSans.ttf')  format('truetype'), url('DejaVuSans.svg#DejaVuSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
