@font-face{font-family:'gotham_bookregular';src:url(../fonts/gb/gotham_book.eot);src:url(../fonts/gb/gotham_book.eot?#iefix) format("embedded-opentype"),url(../fonts/gb/gotham_book.woff2) format("woff2"),url(../fonts/gb/gotham_book.woff) format("woff"),url(../fonts/gb/gotham_book.ttf) format("truetype"),url(../fonts/gb/gotham_book.svg#gotham_bookregular) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'gotham_mediumregular';src:url(../fonts/gm/gotham_medium.eot);src:url(../fonts/gm/gotham_medium.eot?#iefix) format("embedded-opentype"),url(../fonts/gm/gotham_medium.woff2) format("woff2"),url(../fonts/gm/gotham_medium.woff) format("woff"),url(../fonts/gm/gotham_medium.ttf) format("truetype"),url(../fonts/gm/gotham_medium.svg#gotham_mediumregular) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'gotham_boldregular';src:url(../fonts/gbold/gotham_bold.eot);src:url(../fonts/gbold/gotham_bold.eot?#iefix) format("embedded-opentype"),url(../fonts/gbold/gotham_bold.woff2) format("woff2"),url(../fonts/gbold/gotham_bold.woff) format("woff"),url(../fonts/gbold/gotham_bold.ttf) format("truetype"),url(../fonts/gbold/gotham_bold.svg#gotham_boldregular) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'DejaVuSans';src:url(../fonts/dvs/DejaVuSans.eot?#iefix) format("embedded-opentype"),url(../fonts/dvs/DejaVuSans.woff) format("woff"),url(../fonts/dvs/DejaVuSans.ttf) format("truetype"),url(../fonts/dvs/DejaVuSans.svg#DejaVuSans) format("svg");font-weight:400;font-style:normal}
body{font-family:'gotham_mediumregular',serif;font-size:14px}
#header{min-height:70px;padding:19px 0;border-bottom:1px solid #9a9a9a}
#header #logo{float:left;margin-left:60px}
#header .header-contanct{float:right;color:#03426a;font-size:18px}
#header .header-contanct > *{display:inline-block;vertical-align:middle}
#header .header-link{font-family:'gotham_bookregular',serif;margin-left:10px;padding:6px 31px 6px 17px}
#header .header-link:after{right:10px}
.content-block{min-height:680px;background-size:cover;background-repeat:no-repeat;position:relative;padding:10px 0}
.content-block-caption{margin-top:150px;font-family:'gotham_bookregular',serif}
.content-block-caption .title{color:#03426a;font-family:'DejaVuSans',serif;font-size:32px}
.content-block-caption .cbc-intro{margin:30px 0}
.content-block-caption .cbc-button{width:100%;text-align:right;position:relative;padding:6px 25px 12px 12px}
.content-block-caption .cbc-button > .ico{position:absolute;top:9px;right:9px}
.content-block-caption .get-started{color:#406c06;text-align:right;font-family:'gotham_boldregular',serif}
.content-block-caption.custom1{margin-top:40px}
.content-block-caption.custom1 h1.title{font-family:'gotham_bookregular',serif;font-size:27px}
.content-block-caption.custom1 strong{font-family:'gotham_mediumregular',serif}
.content-block-caption.custom1 h1.title hr{color:#d90007;margin:10px 0;border-top:2px solid #d90007}
.content-block.custom2 img{float:right;margin-top:40px}
.content-block.custom2 .cb-num{background-color:#61a20a;color:#fff;font-family:'gotham_bookregular',serif;font-size:52px;border:2px solid #04416b;border-radius:100%;width:65px;height:65px;text-align:center;padding:11px;box-shadow:2px 2px 7px rgba(0,0,0,0.8)}
.content-block.custom2 .hotspot-container{position:relative}
.content-block.custom2 .hotspot-container:after{content:"";clear:both;display:block}
.content-block.custom2 .hotspot-fader{position:absolute;top:0;left:0;width:103%;height:104%;background-color:rgba(255,255,255,0.6);z-index:3}
.content-block.custom2 .cb-num.cb-hotspot-1{position:absolute;top:50px;left:15px;background-color:#d90007;height:80px;width:80px;font-size:52px;line-height:100%;padding:12px 10px}
.content-block.custom2 .cb-num.cb-hotspot-2{position:absolute;top:230px;left:40px;font-size:52px;line-height:40px}
.content-block.custom2 .cb-num.cb-hotspot-3{position:absolute;top:350px;left:250px;font-size:52px;line-height:40px}
.content-block.custom2 .cb-num.cb-hotspot-4{position:absolute;top:99px;left:278px;line-height:40px}
.content-block.custom2 .cb-num.cb-hotspot-5{position:absolute;bottom:140px;left:480px;line-height:40px}
.content-block.custom2 .cb-num.cb-hotspot-6{position:absolute;top:250px;right:-15px;background-color:#d90007;height:80px;width:80px;font-size:52px;line-height:100%;padding:12px 10px}
.pop-container .pc-wrapper{position:relative}
.pop-container .pop-box{border:2px solid #d90007;position:absolute;background-color:#fff;box-shadow:3px 3px 11px rgba(0,0,0,0.6);line-height:100%;font-family:'gotham_bookregular',serif;border-radius:3px;z-index:3}
.pop-container .pop-box.custom-popbox{background-color:transparent;border:0;box-shadow:none}
.pop-container .pop-box.custom-popbox .pc-wrap-img > img{margin:0;float:none}
.pop-container .pc-title{color:#d90007;font-size:14px;margin-bottom:20px}
.pop-container .pop-box .pc-title-img{margin:0;float:none}
.pop-container .pc-icon{z-index:3}
#pop1{top:71px;left:70px;padding:20px 20px 20px 45px;min-width:380px}
#pop1 .pc-icon{position:absolute;top:-28px;left:-51px}
#pop1 .pc-icon > img{margin-top:0!important;float:none!important}
#pop2{top:250px;left:103px;padding:20px 20px 20px 45px;min-width:380px}
#pop2 .pc-icon{position:absolute;top:-28px;left:-51px}
#pop2 .pc-icon > img{margin-top:0!important;float:none!important}
#pop3{top:372px;left:310px;padding:20px 20px 20px 45px;min-width:325px}
#pop3 .pc-icon{position:absolute;top:-28px;left:-51px}
#pop3 .pc-icon > img{margin-top:0!important;float:none!important}
#pop4{top:76px;left:303px;padding:0;min-width:325px}
#pop4 .pc-icon{position:absolute;top:-28px;left:-51px}
#pop4 .pc-icon > img{margin-top:0!important;float:none!important}
#pop5{top:450px;left:536px;padding:20px 20px 20px 45px;min-width:325px}
#pop5 .pc-icon{position:absolute;top:-28px;left:-51px}
#pop5 .pc-icon > img{margin-top:0!important;float:none!important}
#pop6{top:112px;left:554px;padding:20px 20px 20px 45px;min-width:300px;-webkit-border-bottom-left-radius:20px;-moz-border-radius-bottomleft:20px;border-bottom-left-radius:20px}
#pop6 .pc-icon{position:absolute;bottom:-18px;right:-46px}
#pop6 .pc-icon > img{margin-top:0!important;float:none!important}
#pop6 .pop6-link{text-align:right;margin-left:-45px;margin-bottom:-20px;-webkit-border-bottom-left-radius:20px;-moz-border-radius-bottomleft:20px;border-bottom-left-radius:20px;width:122%;padding-right:66px}
#pop6 .pc-content{margin-bottom:30px}
#pop6 .pop6-link:after{bottom:10px;top:unset;right:47px}
.money-list{list-style:none;padding-left:0;margin:0}
.money-list > li{position:relative;padding:5px 5px 5px 40px}
.money-list > li:before{content:"";background-image:url(../img/dollar.png);background-repeat:no-repeat;width:36px;height:34px;position:absolute;top:0;left:0}
.lid-list{list-style:none;padding:0;margin:0}
.lid-list > li{position:relative;padding:10px 0 10px 45px}
.lid-list > li:before{content:"";background-image:url(../img/spritesheet.png);background-repeat:no-repeat;width:34px;height:35px;background-position:-33px -58px;position:absolute;top:3px;left:0}
.half-circle{height:130px;width:215px;border-radius:300px 300px 0 0;-moz-border-radius:300px 300px 0 0;-webkit-border-radius:300px 300px 0 0;background:#d90007;position:absolute;bottom:0;left:0;right:0;margin-left:auto;margin-right:auto;color:#fff;text-align:center;font-size:13px;font-family:'gotham_boldregular',serif;text-decoration:none;padding:8px 13px 0}
.half-circle > *{display:block;text-align:center;margin:0 auto}
.half-circle:hover{color:#fff;text-decoration:none}
.half-circle > .white-bar{background-color:#fff;height:2px;width:100%;margin:5px 0}
.half-circle > .bottom-text{font-size:12px;font-style:italic}
.half-circle.short-text{padding-top:20px;font-size:20px}
.half-circle.custom1{right:85px}
.banner{position:relative}
.banner > img{width:100%}
.banner-content{position:absolute;left:0;top:200px;width:100%;text-align:center}
.banner-content .bc-block{margin-bottom:30px;font-family:'gotham_bookregular',serif}
.banner-content .bc-greeting{color:#d90007;font-size:34px;font-family:'gotham_boldregular',serif;margin-bottom:30px}
.banner-content .bc-intro{color:#03426a;font-size:18px;font-family:'gotham_bookregular',serif}
.rating-post .rating-title{margin:10px 0;font-family:'gotham_boldregular',serif}
.rating-post .rating-message{margin:10px 0}
.rating-post .rating-meta{font-size:11px;position:absolute;left:0;bottom:0}
.rating-post .rating-date{color:#949393}
.rating-post{margin-top:20px;max-width:195px;border-right:1px solid #959595;padding-right:24px;position:relative;padding-bottom:50px}
.rating-post .rating-box > i{float:left}
.rating-post .rating-box > i + i{margin-left:2px}
.rating-post .rating-box:after{content:"";clear:both;display:block}
.half-section{position:relative}
.half-section h1{color:#d80209;font-size:34px;font-family:'gotham_boldregular',serif}
.half-section h3{color:#d80209;font-size:24px;font-family:'gotham_boldregular',serif;margin-top:60px}
.half-section .hs-border{border-right:1px solid #898989;padding-right:35px}
.half-section .btn-hs{float:right;width:100%;max-width:407px;font-size:13px;margin-top:20px;display:inline-block}
.half-section .btn-hs > .ico{margin-top:-3px}
.half-section .hs-content{margin-bottom:40px}
.half-section .hs-note{font-size:11px;font-family:'gotham_bookregular',serif;display:block;margin-top:30px;color:#000}
form.subcriber-form .subscriber-email{width:calc(100% - 133px);margin-right:10px;background-color:#ebebeb;vertical-align:middle;border:0;height:35px;padding:5px 15px}
.bg-gray{background-color:#f0f0f0}
section{padding-top:50px;padding-bottom:50px;font-family:'gotham_bookregular',serif;color:#000}
h3.title{color:#03426a;margin:0 0 10px;font-family:'gotham_boldregular',serif}
strong{font-family:'gotham_boldregular',serif}
.btn-green{position:relative}
.btn-green:after{content:"";background-image:url(../img/spritesheet.png);background-repeat:no-repeat;display:inline-block;vertical-align:middle;width:10px;height:14px;background-position:-5px -5px;position:absolute;top:8px;right:5px}
.btn-green:hover:after{background-position:-87px -5px}
.text-red{color:#d90007}
.text-blue{color:#03426a}
.text-gray{color:#7a7a7a}
.btn-green{background-color:#61a20a;border-color:#61a20a;color:#fff;padding-right:20px}
#footer{min-height:185px;background-color:#03426a;color:#fff;padding:35px 0;text-align:center;font-family:'gotham_bookregular',serif}
#footer a{color:#fff}
#footer .footer-info{margin:10px 0 20px}
#footer .footer-links{list-style:none;margin:0;padding:0}
#footer .footer-links > li{display:inline-block;vertical-align:middle}
#footer .footer-links > li.bar{border-right:1px solid #fff;padding-right:15px}
#footer .footer-links > li + li{margin-left:10px}
#footer .footer-links > li > a > .ico{margin-right:10px}
.ico{background-image:url(../img/spritesheet.png);background-repeat:no-repeat;display:inline-block;vertical-align:middle}
.ico-arrow{width:10px;height:14px;background-position:-5px -5px}
.ico-arrow-down{width:21px;height:13px;background-position:-25px -5px}
.ico-arrow-down1{width:21px;height:13px;background-position:-56px -5px}
.ico-arrow1{width:10px;height:14px;background-position:-87px -5px}
.ico-fb{width:18px;height:19px;background-position:-25px -28px}
.ico-fb1{width:18px;height:19px;background-position:-53px -28px}
.ico-gplus{width:18px;height:19px;background-position:-81px -29px}
.ico-gplus1{width:18px;height:19px;background-position:-5px -58px}
.ico-lid{width:34px;height:35px;background-position:-33px -58px}
.ico-linkedin{width:18px;height:19px;background-position:-77px -58px}
.ico-linkedin1{width:18px;height:19px;background-position:-109px -5px}
.ico-star{width:15px;height:14px;background-position:-109px -34px}
.ico-twitter{width:18px;height:19px;background-position:-105px -58px}
.ico-twitter1{width:18px;height:19px;background-position:-5px -87px}
.ico-triangle-down{width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top:14px solid #406c06;display:inline-block;vertical-align:middle}
.content-block-image{position:relative;width:100%;height:100%}
.content-block-image > img{display:none}
.content-block-image1 > img{margin-top:85px}
@media(max-width: 1170px) {
.banner-content{top:150px}
}
@media(max-width: 991px) {
.banner-content{position:relative;top:0;padding:10px 0;margin-bottom:-30px}
.half-section .hs-border{border:0}
.content-block-caption{margin-top:0}
.content-block-caption.custom1{margin-top:0}
.content-block{background-image:none!important;padding-bottom:120px}
.content-block-image > img{display:block;margin:0 auto}
.rating-post{padding:0 0 40px;border:0;max-width:100%}
.half-circle.short-text{font-size:12px}
.half-circle{height:108px;width:215px;padding:20px 28px 0}
.half-circle.custom1{right:0}
#header #logo{float:none;display:inline-block}
#header{text-align:center}
#header .header-contanct{float:none}
.content-block-image1{display:none}
}
@media(max-width: 568px) {
.content-block-caption .title{font-size:24px}
.content-block-caption.custom1 h1.title{font-size:24px}
.banner-content .bc-greeting{font-size:24px}
.half-circle{position:relative;margin:10px auto 0;display:block;height:auto}
.content-block{padding-bottom:0}
}